<a href="https://gitlab.com/{{ include.username }}"><span class="icon icon--gitlab">{% include icon-gitlab.svg %}</span><span class="username" style="font-family: 'Belgrano', san-serif;">{{ include.username }}</span></a>
